@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-dark-grey: #b1b1b1;
}

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body {
    font-size: 62.5%;
    /* height: 100vh; */
    width: 100vw;
    overflow-x: hidden;
    background-color: #000000;
    color: #FFFFFF;
    /* scroll-snap-type: proximity;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y proximity; */
}

.wrapper {
    /* height: 500vh; */
    width: 100vw;

}

.wrapper .container {
    /* height: 100vh; */
    position: fixed;
    width: 100vw;
    top: 0;
    will-change: transform;
}

.wrapper .container img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    background-position: center center;
    background-size: cover;
    visibility: hidden;
}

.wrapper .container .gradient-fade {
    position: absolute;

    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(130, 254, 255, 0) 50%,
            rgba(239, 255, 255, 0) 100%);
}

.wrapper .container .blur {
    width: 49%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.045);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(7.8px);
    border-right: 1px solid rgba(255, 255, 255, 0.09);
}

canvas {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    height: 50%;
    width: auto;
}


.wrapper .wrap-all {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* margin-top: 10rem; */

}

.wrapper .wrap-all .section {
    height: 100vh;

    scroll-snap-align: start;
}

.wrapper .wrap-all .section {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0rem auto;
    /* margin: 16rem 0rem 0rem 8.5rem; */
    font-family: 'Playfair Display', serif;
}

.wrapper .wrap-all .section01 {
    position: relative;
}

.wrapper .wrap-all .section01 .intro {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    color: var(--text-dark-grey);
    position: absolute;
    width: 100%;
    top: 40%;
    left: 7%;
    width: 40%;
}

.wrapper .wrap-all .section01 .intro .full_name {
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Arizonia', cursive;
    font-style: normal;
    letter-spacing: 0.07rem;
    color: #f5f5f5;
}

.wrapper .wrap-all .section01 .desc {
    width: 100%;
    margin-top: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 0.05rem;
    word-spacing: 0.055rem;
    text-transform: lowercase;
    word-wrap: break-word;
    line-height: 1.6rem;
    color: var(--text-dark-grey);
    position: absolute;
    top: 52%;
    left: 7%;
    width: 40%;
}

.wrapper .wrap-all .section3 {
    font-size: 2.7rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    /* top: 30%; */
}

.wrapper .wrap-all .section3 .wrap_section3 {
    position: relative;
    top: 35%;
    margin-left: 7rem;
    width: 40%;
    /* z-index: 100; */
}
/* .wrapper .wrap-all .section3 .wrap_section3 .lines{
    z-index: 100;
} */

.wrapper .wrap-all .section3 .wrap_section3 .github_icon {
    font-size: 21rem;
    position: absolute;
    top: -60%;
    left: 5%;
    color: #f400dc;
    z-index: -90;
    -webkit-animation: color-change 10s infinite;
}

@-webkit-keyframes color-change {
    0% {
        color: #ff0000;
    }

    5% {
        color: #e80000;
    }

    10% {
        color: #ffc906;
    }

    20% {
        color: #06c6a0;
    }

    30% {
        color: #a200d3;
    }

    40% {
        color: #ff00e1;
    }

    50% {
        color: #34495e;
    }

    60% {
        color: #919192;
    }

    70% {
        color: #e4f500;
    }

    80% {
        color: #00ff1a;
    }

    90% {
        color: #3b0024;
    }

    100% {
        color: #f2f2f2;
    }
}



@media only screen and (max-width: 768px) {
    .wrapper .wrap-all .section {
        width: 100%;
        margin: 19rem 0rem 0rem 1rem;
    }

    .wrapper .wrap-all .section01 .intro {
        width: 100%;
        left: 1%;
    }

    .wrapper .wrap-all .section01 .intro .full_name {
        font-size: 3rem;
    }

    .wrapper .wrap-all .section01 .desc {
        font-size: 1.101rem;
        line-height: 1.45rem;
        left: 1%;
        top: 50%;
        width: 90%;
    }

    .wrapper .wrap-all .section3 .wrap_section3{
        font-size: 2rem;
        top: 45%;
        margin-left: -0.1rem;
        width: 100%;
    }

    .wrapper .wrap-all .section3 .wrap_section3 .github_icon{
        z-index: 10;
        font-size: 18rem;
        top: 10%;
        left: 2%;
        color: #4e4e4e2f;
        animation: none;
    }
}