@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-size: 280px;
$bg-color: #1e2134;
$text-color: #0b48ff37;



.bg-text-container {
    // transform: translateX(-50%);
    // top: 50%;
    // margin-top: 5rem;
    transform: skewY(-8deg);
    position: absolute;
    z-index: 90;
}

.animate-text {
    animation: text-scrolling 20s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;

    &.left {
        animation-direction: reverse;
    }


}

@keyframes text-scrolling {
    0% {
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        transform: translate3d(0%, 0, 0);
    }
}

.bg_scroll {
    font-size: $font-size;
    color: transparent;
    animation: text-scrolling 20s linear infinite;
    -webkit-text-stroke: 2px $text-color;
    text-transform: uppercase;
    display: inline-block;
    line-height: 0.75;
    min-width: auto;
    font-weight: 800;
}

.left {
    animation: text-scrolling 20s linear infinite;
    animation-direction: reverse;
}





.container1 {
    position: relative;
    top: 37%;
    left: 4%;
    padding: 30px;
    max-width: 1000px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    // margin: 0rem auto;
    z-index: 100;

    .col {
        max-width: 600px;
        margin: 0;
    }
}


.section2_heading {
    font-size: 90px;
    margin: 0;
}

.section2_para {
    font-size: 18px;
    font-weight: 300;
    margin-top: 1.8rem;
    color: #c7c7c7;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.06rem;
    
}

.stack {
    color: #eaff00cc;
    font-weight: 300;
    font-style: italic;
}

.tools {
    color: #eaff00cc;
    font-weight: 300;
    font-style: italic;
}

.dsa_link {
    font-style: italic;
    color: #00aeffcc;
    text-decoration: none;
}



@media only screen and (max-width: 768px) {

    // .bg-text-container{
    //     margin-top: 7rem;
    // }
    .bg_scroll {
        font-size: 170px;
    }

    .container1 {
        top: 30%;
        left: -1.8rem;
        // margin: 0rem auto;
        // transform:translateY(-50%);
    }

    .section2_heading {

        font-size: 50px;
        margin: 0;
    }

    .section2_para {
        font-size: 16px;
        font-weight: 200;
        margin-top: 1.8rem;
    }
}